; DB Scrubber configuration file.

[general]
; # showSqlStatements #
; Displays the sql statements being used in the scrubber.  Do not enable this if you have production quantities of data.
showSqlStatements = 0

; Sets execution timelimt
timelimit = 0

; Sets the memory allocation for the application
memlimit = 1G

; Number of rows to process at a time
rowLimit = 10000

; Log file location
logfile = /data/log/scrubber.log

; Content filler class
contentFiller = \Scrubber\ContentFiller

; Database Connections
[database1]
user = 'root'
pass = ''
host = '127.0.0.1'

[database2]
user = 'readwrite'
pass = ''
host = '10.0.0.1'





